In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./data/class2.csv")
df.head()

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0

In [3]:
df.isnull().sum() # 결측치 갯수

Unnamed: 0    0
id            0
tissue        0
class         0
class2        0
x             2
y             2
r             2
dtype: int64

결측치
- 지워버리기
- 결측치 값을 해당 열의 데이터의 평균으로 채우기
- 결츠치 값을 해당 열의 최빈값으로 채우기
- 등등... 다양한 방법이 있음

In [6]:
# df = df.dropna(how="any") # 행에 결측치가 하나라도 있으면 행 전체 제거
df = df.fillna(0) # 결측치를 0으로 채움 
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    0.0    0.0    0.0
3           3  mdb003      C  CIRC      B    0.0    0.0    0.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0