In [32]:
import pandas as pd

In [33]:
filename = "./5_문어체_조례.xlsx"
savefilename = filename.split("/")[1].split(".")[0] + '.txt'
savefilename

'6_문어체_지자체웹사이트.txt'

In [34]:
df = pd.read_excel(filename)
df.head(1)

/Users/darrenkwon/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,ID,지자체,원문,번역문
0,261811.0,경기도,"""경기도가 말산업 육성을 위해 총예산 245,193천원으로 2013년 경기도 용인시...","""The Gyeonggi provincial government announced ..."

In [35]:
df.columns

Index(['ID', '지자체', '원문', '번역문'], dtype='object')

In [36]:
# df.drop(["SID"], axis=1, inplace=True)
df.head(1)

,ID,지자체,원문,번역문
0,261811.0,경기도,"""경기도가 말산업 육성을 위해 총예산 245,193천원으로 2013년 경기도 용인시...","""The Gyeonggi provincial government announced ..."

In [37]:
df.to_csv(savefilename, sep='\t', encoding="utf-8", index=False)